---
layout: index
title: 首页
---

<section id="blogbody">
<div class="clearleft bloglooparea">
    <div class="bloglists">
{% for post in site.posts %}
    <div class="blogbody__everyblog">
            <div class="blogbody__everyblog__header">
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </div>
            <div class="blogbody__everyblog__meta">
                <span class="blogbody__everyblog__metainfo">发布于 {{ post.date | date_to_string }}</span>
            </div>
            <div class="blogcontent blogbody__everyblog__excerpt">
                {{ post.excerpt }}
            </div>
    </div>
{% endfor %}
    </div>

{% include index_sidebar.html %}

</div>
</section>