---
layout: index
title: 项目
initItem: 1
perPageItem: 1
thiscat: 项目
thisdes: IT IS ONLINE
---

<section id="blogbody">
    <div class="clearleft bloglooparea">
        <div class="bloglists">
            {% for post in site.posts %}
            {% if post.category == page.thiscat %}
            <div class="blogbody__everyblog">
                <div class="blogbody__everyblog__header">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </div>
                <div class="blogbody__everyblog__meta">
                    <span class="blogbody__everyblog__metainfo">{{ post.date | date:"%Y - %m - %d" }}</span>
                </div>
                <div class="blogcontent blogbody__everyblog__excerpt">
                    {{ post.excerpt }}
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div class="loadingmore">
                <span class="loadingmorespan">点击加载更多...</span>
            </div>

        </div>

        {% include index_sidebar.html %}

    </div>

</section>