<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <meta name="description" content="{{ site.seo_des }}">
    <meta name="keyword" content="{{ site.seo_keyword }}">

    <title>{{ site.name }} - {{ site.description }}</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/dist/theme.css?ver=2.0.19"/>
</head>
<body>

<!-- self ribbon -->
<a href="https://github.com/qddegtya/qddegtya.github.io/"><img style="position: fixed; top: 0; left: 0; border: 0; z-index: 99999;" src="{{ site.url }}/assets/images/forkme_darkblue.png" alt="Fork me on GitHub"></a>
