<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/theme.css?ver=1.0.36"/>
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/waypoints/2.0.5/waypoints.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        //Html编码获取Html转义实体
        function htmlEncode(value){
            return $('<div/>').text(value).html();
        }
        //Html解码获取Html实体
        function htmlDecode(value){
            return $('<div/>').html(value).text();
        }

        $(document).ready(function(){

            //nav waypoints
            $('.blog__nav').waypoint(function(direction){
                if(direction == "down"){
                    $('.blog__nav').addClass("fixedposition");
                }
                else if(direction == "up"){
                    $('.blog__nav').removeClass("fixedposition");
                }
            });

            //内页目录waypoints
            $('.single__sidebar').waypoint(function(direction){
                if(direction == "down"){
                    $('.single__sidebar').addClass("single--sidebar--fix");
                }
                else if(direction == "up"){
                    $('.single__sidebar').removeClass("single--sidebar--fix");
                }
            });

//            //翻页waypoints
//            $('.loadingmore').waypoint(function(direction){
//                if(direction == "down"){
//                    $('.loadingmore').click();
//                }
//                else if(direction == "up"){
//                    //TO DO
//                }
//            },{ offset:300 });

            {% if site.posts.size > page.initItem %}

            var bloglists = $('.bloglists');
            var count = {{ page.initItem }}; //一开始的文章数目
            var looptimes = 0; //计数器top

            //ajax异步加载首页文章
            $('.loadingmore').click(function(){

                $('.loadingmore').html("<span class='loadingmorespan'>正在加载...</span>");
                //$('.bloglists').css('opacity','0.8');

                //$('.blogfooter').waypoint('destroy');

//                  if(direction == "down"){
                    $.getJSON("../allposts.json",function(data){
                        var content = "";
                        looptimes = count + {{ page.perPageItem }}; //初始化
                        var j = 0; //采集loop了多少次
                        $.each(data,function(i,item){
                            if(i >= count & i < looptimes){

                                var excerpt = "{{" + item.excerpt + "}}";

                                content += "<div class='blogbody__everyblog'>";
                                content += "<div class='blogbody__everyblog__header'>";
                                content += "<a href='"+ item.url +"'>" + item.title + "</a>";
                                content += "</div>";
                                content += "<div class='blogbody__everyblog__meta'>";
                                content += "<span class='blogbody__everyblog__metainfo'>"+ item.date +"</span>";
                                content += "</div>";
                                content += "<div class='blogcontent blogbody__everyblog__excerpt'>";
                                content += htmlDecode(item.excerpt);
                                content += "</div>";
                                content += "</div>";

                                //alert(content);

                                j++;
                            }

                        });

                        count += j; //现在的文章数目
                        $('.loadingmore').before(content);
                        //$('.bloglists').css('opacity','1.0');
                        $('.loadingmore').html("<span class='loadingmorespan'>点击加载更多...</span>");
                        if( count == data.length ){
                            $('.loadingmore').html("<span class='loadingmorespan'>没有更多了...</span>").fadeOut(2000);
                        }

                    });
//                    }
//                if(direction == "up"){
//
//                }
            });
            {% else %}
            //否则不显示翻页
            $('.loadingmore').css('display','none');
            {% endif %}

        })
    </script>

</head>
<header id="blog__header">
    <div class="blog__bighead">
        <!-- blog title & description -->
        <div class="blog__titlearea">
            <h1 class="blogtitle title--blogtitle">KEEP CODING</h1>
            <h2 class="blogtitle title--blogdescription">python,javascript,c,c++,html,css...</h2>
        </div>
    </div>

    <!-- blog nav -->
    <div class="blog__nav">
        <ul class="blog__nav__ul">
            <li class="blog__nav__item nav__current"><a href="#">HOME</a></li>
            <li class="blog__nav__item"><a href="#">BLOG</a></li>
            <li class="blog__nav__item"><a href="#">PROJECT</a></li>
            <li class="blog__nav__item"><a href="#">DESIGN</a></li>
            <li class="blog__nav__item"><a href="#">ABOUT</a></li>
        </ul>
    </div>

    <!--{{ page.pageLocation }}-->

</header>
<body>
