<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ARCHER'S BLOG</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/theme.css"/>
</head>
<header id="blog__header">
    <div class="blog__bighead">
        <!-- blog title & description -->
        <div class="blog__titlearea">
            <h1 class="blogtitle title--blogtitle">KEEP CODING</h1>
            <h2 class="blogtitle title--blogdescription">python,javascript,c,c++,html,css</h2>
        </div>
    </div>

    <!-- blog nav -->
    <div class="blog__nav">
        <ul class="blog__nav__ul">
            <li class="blog__nav__item nav__current"><a href="#">HOME</a></li>
            <li class="blog__nav__item"><a href="#">BLOG</a></li>
            <li class="blog__nav__item"><a href="#">PROJECT</a></li>
            <li class="blog__nav__item"><a href="#">DESIGN</a></li>
            <li class="blog__nav__item"><a href="#">ABOUT</a></li>
        </ul>
    </div>
</header>
<body>
