<div class="blogsidebar">

    <div class="blogsidebar_item author_item">
        <div class="side_img_logo">
            <img src="/assets/images/avatar.jpeg" alt="">
        </div>
    </div>

    <div class="blogsidebar_item author_item meta_logo">
        <div class="side_logo">
            粮仓
        </div>
    </div>

    <!-- 简介 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">作者</h3>
        <p class="sidebar_detail clearfix">
            某小A，FE/Pythoner/Noder/C++，混迹独立博客圈多年，开发过wordpress主题、技术社区......
            目前专注于伟大的前端事业，在Github重开此blog；
            愿能持续以此微薄之力回馈自己曾在学习过程中受到的那些帮助。
            <!-- <input type="button" value="了解更多..." class="learn_more" id="learn_more_about"/> -->
        </p>
    </div>

    <!-- 广告 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">归档</h3>
        <div class="avatar">
            <img src="http://img.ui.cn/data/file/2/9/4/272492.gif" alt=""/>
        </div>
    </div>

    <!-- 广告 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">粮品</h3>
        <div class="avatar">
            <img src="http://img.ui.cn/data/file/1/2/6/273621.jpg" alt=""/>
        </div>
    </div>

</div>
