<header id="blog__header">
    <div class="blog__bighead">
        <div class="blog__head__img">
            <span class="logo--name bounceInDown">糧倉</span>
            <span class="logo--des">叩首问路,码梦为生.</span>
        </div>
    </div>

    <!-- blog nav -->
    <div class="blog__nav">
        <ul class="blog__nav__ul">
            <li class="blog__nav__item current"><a href="/" class="navlink">粮仓</a></li>
            <li class="blog__nav__item"><a href="" class="navlink">文字</a></li>
            <li class="blog__nav__item"><a href="" class="navlink">经验</a></li>
            <li class="blog__nav__item"><a href="" class="navlink">实验</a></li>
            <li class="blog__nav__item"><a href="" class="navlink">利器</a></li>
        </ul>
    </div>
</header>