<div class="blogsidebar">
    <!-- 简介 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">关于</h3>
        <div class="avatar">
            <img src="http://img.ui.cn/data/file/1/5/2/279251.png" alt=""/>
        </div>
    </div>

    <!-- 广告 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">良品</h3>
        <div class="avatar">
            <img src="http://img.ui.cn/data/file/2/9/4/272492.gif" alt=""/>
        </div>
    </div>

    <!-- 广告 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">延伸阅读</h3>
        <div class="avatar">
            <img src="http://img.ui.cn/data/file/1/2/6/273621.jpg" alt=""/>
        </div>
    </div>

</div>