<div class="blogsidebar index__sidebar">

    <div class="avatar--mask">
        <!-- 头像 -->
        <div class="avatar--footer">
            <img src="http://qddegtya.gitcafe.com/assets/images/avatar.jpeg">
        </div>

        <!-- 头像遮罩 -->
        <div class="footer--mask">
            <div class="mask"><i class="fa fa-rocket"></i></div>
        </div>

    </div>
    <!-- 链接区域 -->
    <div class="follow-panel">
            <span class="sns">Theme Version 1.0.32</span>
        <div>
</div>