<div class="blogsidebar single__sidebar">
    <!-- 头像 -->
    <div class="avatar--footer">
        <img src="http://qddegtya.gitcafe.com/assets/images/avatar.jpeg">
    </div>

    <!-- 链接区域 -->
    <div class="follow-panel">
        <span class="sns"><i class="fa fa-github"></i> <a href="https://github.com/qddegtya" title="github" target="_blank">Github</a> / <i class="fa fa-weibo"></i> <a href="http://www.weibo.com/IMArcher" title="weibo" target="_blank">Weibo</a> / <i class="fa fa-html5"></i> <a href="http://www.weibo.com/IMArcher" title="about" target="_blank">About</a></span>
        <div>
</div>