<div class="blogsidebar">

    <div class="blogsidebar_item author_item">
        <div class="side_logo">
            前端打杂
        </div>
    </div>

    <!-- 简介 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">作者</h3>
        <p class="sidebar_detail clearfix">
            某小A，打杂前端开发工程师，在魔都一汽车电商初创进行修练，手握蝴蝶宝典，身披Node法袍，
            擅以Python，Javascript大法解决部分视觉问题，别问我是什么鬼，英雄不问出处，流氓不看岁数；
            本人不高不帅不富，仅拥有部分无形资产在Github地皮上，这里是我发表神棍理论的地方，请客官保持冷静清醒的头脑，以免当众遭受100点精神伤害。
            <!-- <input type="button" value="了解更多..." class="learn_more" id="learn_more_about"/> -->
        </p>
    </div>

    <!-- 广告 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">分类</h3>
        <div class="avatar">
            <img src="http://img.ui.cn/data/file/2/9/4/272492.gif" alt=""/>
        </div>
    </div>

    <!-- 广告 -->
    <div class="blogsidebar_item author_item">
        <h3 class="sidebar_title">作品</h3>
        <div class="avatar">
            <img src="http://img.ui.cn/data/file/1/2/6/273621.jpg" alt=""/>
        </div>
    </div>

</div>
