/*-----------------------------*\
    $CONTENTS
\*-----------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set reset defaults
 * FONT-FACE...........Import brand font files
 * blog__header........blog header
 * blog__nav...........blog nav
 * bloglooparea........blogs index loop
 * blogcontent.........blog content is very important
 * blogfooter..........blog footer
 * highlight...........code highlight
 * sidebar.............side bar
 * lodingmore..........loadingmore
 * animations..........animations
 */

/*-----------------------------*\
    $RESET
\*-----------------------------*/
::-webkit-scrollbar{
    display: none !important;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    outline: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
    margin: 0;
    padding: 0;
    background-color: #232327;
    font-size: 1.0em;
    font-family:"NSimSun", Arial; /*中国人自己的字体*/
    -webkit-font-smoothing: antialiased; /*使字体平滑*/
}
h1,span,ul,li,a,p,h2,table,th,tr,td,img,h3,i,h4,h5,h6,ol,blockquote,code{
    margin: 0;
    padding: 0;
}
p,pre{
    word-wrap: break-word;
    word-break: break-all;
}
li{
    list-style: none;
}
.clearboth{
    clear: both;
}
.clearleft{
    clear: left;
}
.clearright{
    clear: right;
}




/*-----------------------------*\
    $FONT-FACE
\*-----------------------------*/
@font-face {
    font-family: Meccano;
    src: url("../fonts/Meccano.ttf");
}





/*-----------------------------*\
    $blog__header
\*-----------------------------*/
#blog__header{
    position: relative;
}

.avatar--footer{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
}

.footer--mask:hover{
    opacity: 0.8;
    cursor: pointer;

    /*color: #16a085;*/
}

.footer--mask{
    width: 100px;
    height: 100px;
    background: #2f2f2f;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #ffffff;

    text-align: center;
    line-height: 100px;
    font-size: 2.0em;

    display: block;

    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.footer--mask i{
    vertical-align: middle;
}

.avatar--header{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-top: 120px;
}
.avatar--header img,.avatar--footer img{

    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    opacity: 0.8;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    
}
.avatar--header img:hover{
    opacity: 1.0;
}
.avatar--footer img:hover{
    opacity: 1.0;
    cursor: pointer;
}
.avatar--mask{
    width: 100px;
    height: 100px;

    margin: 0 auto;
    position: relative;

    overflow: hidden;
}

.blogtitle{
    color: #ffffff;
}
.blog__bighead{

    position: relative;

    padding-top: 100px;
    width: 960px;
    margin: 0 auto;
    /*border-bottom: 5px solid #ffffff;*/
    font-family: "Microsoft YaHei";
}
    .blog__head__img{

        position: relative;
        z-index: -99;

        /*background-color: #000000;*/
        text-align: center;
        /*-webkit-border-radius: 20px 20px 0 0;*/
        /*-moz-border-radius: 20px 20px 0 0;*/
        /*border-radius: 20px 20px 0 0;*/
        padding: 130px 0;
        width: 100%;
        background: url("../images/chrome.jpg") left -240px no-repeat;
        background-size: cover;
        color: #ffffff;

        -webkit-transition: background-position .8s;
        -moz-transition: background-position .8s;
        -ms-transition: background-position .8s;
        -o-transition: background-position .8s;
        transition: background-position .8s;
        
    }
    /*.blog__head__img:hover{*/
        /*background-position: left -150px;*/
    /*}*/
    .logo--name{
        letter-spacing: 2px;
        display: block;
        font-size: 3.2em;
        font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    }
    .logo--name a{
        color: #ffffff;
        text-decoration: none;
    }
    .logo--des{

        /*display: block;*/
        /*background: #2f2f2f;*/

        border-bottom: 1px solid #ffffff;

        font-size: 1.2em;
        letter-spacing: 3px;
        font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    }
    .blog__titlearea{
        text-align: center;
    }
    .title--blogtitle{
        /*em*/font-size: 4.8em;
        font-family: Meccano;

        /*animation*/
        -webkit-animation: bounceInRight .6s ease both;
        animation: bounceInRight .6s ease both;

    }
    .title--blogdescription{
        /*em*/font-size: 1.2em;
        font-weight: normal;
        line-height: 1.2em;
    }

.follow-panel{
    width: 100%;
    text-align: center;
    color:#ffffff;
    padding: 50px 50px;
}
.sns{

    font-family: "Microsoft YaHei";

    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);
    padding: 10px 12px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    
}
.sns:hover{
    color: #16a085;
}
.sns:hover a{
    color: #16a085;
}
.sns a{
    color: #ffffff;
    text-decoration: none;

    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

/*-----------------------------*\
    $blog__nav
\*-----------------------------*/
.blog__nav{
    width: 960px;
    margin: 0 auto;
    /*margin-bottom: 120px;*/
    z-index: 9999;
    font-family: "Microsoft YaHei";

    /*-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;*/
    /*-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;*/
    /*box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;*/

}
.nav__current a{
    /*background-color: #ffffff;*/
    /*border-bottom: 2px solid #bdc3c7;*/

    background:rgba(0,0,0,0.9);
    color: #ffffff !important;

}
.blog__nav__ul{
    width: 100%;
    display: block;
    border-top:15px solid rgba(255, 255, 255, .2);

    margin-top: -15px;

    /*border-top: 5px solid #2f2f2f;*/

    /*border-top: 5px solid #2f2f2f;*/
    
    overflow: auto;

}
    .blog__nav__item{
        float: left;
        width: 20%;
        text-align: center;
        padding: 15px;

        /*border-right: 1px solid #f0f0f0;*/

        -webkit-transition: box-shadow .5s;
        -moz-transition: box-shadow .5s;
        -ms-transition: box-shadow .5s;
        -o-transition: box-shadow .5s;
        transition: box-shadow .5s;

        border-bottom: 1px solid #f0f0f0;
        color: #333333;

        background-color: #ffffff;

        /*-webkit-box-shadow: 5px 5px 5px #333333;*/
        /*-moz-box-shadow: 5px 5px 5px #333333;*/
        /*box-shadow: 5px 5px 5px #333333;*/

        /*display: inline-block;*/


        background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);

    }
    .blog__nav__item:last-child{
        border-right: none;
    }
    .blog__nav__item:hover{
        /*padding:25px 20px;*/
        /*-webkit-box-shadow: 0 5px 0 #e1e1e1;*/
        /*-moz-box-shadow: 0 5px 0 #e1e1e1;*/
        /*box-shadow: 0 5px 0 #e1e1e1;*/
    }
    .blog__nav__item a{
        color:#333333;
        text-decoration: none;
        font-size: 1.2em;
        display: inline-block;

        padding: 8px 20px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        -webkit-transition: background .3s;
        -moz-transition: background .3s;
        -ms-transition: background .3s;
        -o-transition: background .3s;
        transition: background .3s;

        /*transform: rotateX(0deg);*/
        /*-webkit-transform: rotateX(0deg);	*//* Safari 和 Chrome */
        /*-moz-transform: rotateX(0deg);	*//* Firefox */


    }

    .blog__nav__item a:hover{

        background:rgba(0,0,0,0.9);
        color: #ffffff;

        /*transform: rotateX(360deg);*/
        /*-webkit-transform: rotateX(360deg);	*//* Safari 和 Chrome */
        /*-moz-transform: rotateX(360deg);	*//* Firefox */

        cursor: pointer;

    }
    
    .home__link{

    }





/*-----------------------------*\
   $bloglooparea
\*-----------------------------*/
.bloglooparea{
    width: 960px;
    margin: 0 auto;
}
.blogbody__everyblog{
    background-color: #ffffff;
    padding: 15px 40px;
    /*margin-bottom: 60px;*/

    /*-webkit-box-shadow: 0 5px 0 #e1e1e1;*/
    /*-moz-box-shadow: 0 5px 0 #e1e1e1;*/
    /*box-shadow: 0 5px 0 #e1e1e1;*/

    border-bottom: 1px solid #f0f0f0;
}
.bloglists{

    /*border-top: 5px solid #2f2f2f;*/

    width: 100%;

    /*display: none;*/
    /*border-right: 1px solid #f0f0f0;*/
    /*-webkit-box-shadow: 0 12px 0 rgba(255,255,255,0.4);*/
    /*-moz-box-shadow: 0 12px 0 rgba(255,255,255,0.4);*/
    /*box-shadow: 0 12px 0 rgba(255,255,255,0.4);*/

    z-index: 9998;
    position: relative;
}
.blogbody__everyblog__header{
    /*background-color: #bdc3c7;*/
    padding-top: 15px;
    text-align: center;
}
.blogbody__everyblog__header a{
    text-decoration: none;
    color: #666666;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: 2px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    font-family: "Microsoft YaHei";
}
.blogbody__everyblog__header:hover{
    /*background-color: #bdc3c7;*/
}
.blogbody__everyblog__header:hover a{
    /*color:#ffffff;*/
    /*text-decoration: underline;*/
    color: #333333;
}
.blogbody__everyblog__meta{
    text-align: center;
    padding-top: 15px;
    /*padding-bottom: 25px;*/
    /*padding-bottom: 15px;*/
    /*border-bottom: 1px solid #f0f0f0;*/
    color: #cccccc;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.2em;
}
.blogbody__everyblog__excerpt{

}





/*-----------------------------*\
   $blogcontent
\*-----------------------------*/
.blogcontent{
    padding: 25px 0 0 0;
    color:#666666;
    font-size: .9em;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-family: "Microsoft YaHei";
}
.blogcontent p{
    /*padding: 20px;*/
    /*background-color: #f9f9f9;*/
    margin-bottom: 20px;
    /*border: 1px solid #f0f0f0;*/
    font-size: 1.0em;
    line-height: 1.4em;
    letter-spacing: 1px;
    color: #666666;
    /*text-indent: 15px;*/

    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}
.blogcontent a{
    padding: 2px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-left: 2px solid #2f2f2f;
    font-size: 1.0em;
    line-height: 1.4em;
}
.blogcontent a:hover{
    text-decoration: underline;
}
.blogcontent h1{
    color: #333333;
    font-size: 1.0em;
    line-height: 1.2em;
    letter-spacing: 1px;
    /*background-color: #f0f0f0;*/
    margin-bottom: 25px;
    /*text-indent: 15px;*/
    font-weight: normal;
    border-left: 2px solid #bdc3c7;
    text-indent: 10px;
}
.blogcontent h2{
    color: #333333;
    font-size: 1.0em;
    line-height: 1.2em;
    letter-spacing: 1px;
    /*background-color: #f0f0f0;*/
    margin-bottom: 25px;
    /*text-indent: 15px;*/
    font-weight: normal;
    border-left: 2px solid #bdc3c7;
    text-indent: 10px;
}
.blogcontent h3{
    color: #333333;
    font-size: 1.0em;
    line-height: 1.2em;
    letter-spacing: 1px;
    /*background-color: #f0f0f0;*/
    margin-bottom: 25px;
    /*text-indent: 15px;*/
    font-weight: normal;
    border-left: 2px solid #bdc3c7;
    text-indent: 10px;
}
.blogcontent h4{
    color: #333333;
    font-size: 1.0em;
    line-height: 1.2em;
    letter-spacing: 1px;
    /*background-color: #f0f0f0;*/
    margin-bottom: 25px;
    /*text-indent: 15px;*/
    font-weight: normal;
    border-left: 2px solid #bdc3c7;
    text-indent: 10px;
}
.blogcontent h5{
    color: #333333;
    font-size: 1.0em;
    line-height: 1.2em;
    letter-spacing: 1px;
    /*background-color: #f0f0f0;*/
    margin-bottom: 25px;
    /*text-indent: 15px;*/
    font-weight: normal;
    border-left: 2px solid #bdc3c7;
    text-indent: 10px;
}
.blogcontent h6{
    color: #333333;
    font-size: 1.0em;
    line-height: 1.2em;
    letter-spacing: 1px;
    /*background-color: #f0f0f0;*/
    margin-bottom: 25px;
    /*text-indent: 15px;*/
    font-weight: normal;
    border-left: 2px solid #bdc3c7;
    text-indent: 10px;
}
.blogcontent ul,.blogcontent ol{
    padding: 0 35px;
    margin-bottom: 25px;
}
.blogcontent ul li{
    list-style: decimal;
}
.blogcontent ol li{
    list-style: circle;
}
.blogcontent table{
    border-collapse:collapse;
    margin-bottom: 25px;
    width: 100%; /*撑满容器*/
    /*display: block;*/
}
.blogcontent blockquote{

    padding: 0 10px;
    font-size: 1.0em;
    line-height: 1.0em;
    color:#333333;
    letter-spacing: 1px;
    /*background-color: #f9f9f9;*/
    border-left: 2px solid #bdc3c7;
    margin-bottom: 25px;

    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;

}

.blogcontent table td{
    border: 1px solid #f0f0f0;
    padding: 5px;
}
.blogcontent table tr{
    border: 1px solid #f0f0f0;
    padding: 5px;
}
.blogcontent table th{
    border: 1px solid #f0f0f0;
    padding: 5px;
    background-color: #f9f9f9;
}
.blogcontent p img{
    /*width: 100%;*/
    /*border: 5px solid #f9f9f9;*/
    opacity: .8;

    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    -ms-transition: opacity .8s;
    -o-transition: opacity .8s;
    transition: opacity .8s;
    display: block;
    width: 100%;
    /*width: 100%;*/
}
.blogcontent p img:hover{
    opacity: 1.0;
}
.blogcontent code{
    font-family: "Microsoft YaHei";
}

.blogcontent code:hover{
    /*background-color: #000000;*/
}

.blogcontent pre{
    padding: 5px 10px;
    margin-bottom: 25px;
    background: #202020;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    color: #ffffff;
    font-size: .8em;
    -ms-word-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    overflow: hidden;
    border: 5px solid #2f2f2f;
    font-family: "Microsoft YaHei";

    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
.blogcontent pre:active{
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none;*/
}
/*.blogcontent p > code{*/
    /*color: #999999;*/
    /*margin-bottom: 0 !important;*/
/*}*/

.blogtag,.blogcat{
    padding: 8px 12px;
    color: #ffffff;
    background-color: #bdc3c7;
    letter-spacing: 2px;
    font-size: 1.0em;
    line-height: 1.2em;
}
.blogbody__everyblog__footer{
    /*background-color: #f9f9f9;*/
    /*border: 1px solid #f0f0f0;*/
    width: 100%;
    border-top:1px solid #f0f0f0;
    padding-top: 15px;

    font-family: "Microsoft YaHei";
}
.footercopyright span{
    display: block;
    color: #333333;
    font-size: 1.0em;
    line-height: 1.6em;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
.footercopyright{
    margin-bottom: 10px;
}
.blogperlink{
    overflow: auto;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: .8em !important;
    color: #666666;
    display: block;
    margin-top: 10px;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #cccccc;
    text-align: left !important;
}
.blogbody__everyblog__tagcat{
    /*margin-top: 30px;*/
}





/*-----------------------------*\
   $blogfooter
\*-----------------------------*/
#blogfooter{
    padding:50px 0;
    width: 100%;
    clear: both;
}
.blogfooter{
        height: 70px;
        padding: 0 50px;
        background-color: #bdc3c7;
        width: 100%;

        z-index: 9995;
        /*position: relative;*/
}
.truefooter{
    padding: 30px 50px;
    background-color: #f0f0f0;
    z-index: -1;
    position: relative;
}
.blogfooter--left{
    height: 70px;
    width: calc( 60% - 1px );
    width: -moz-calc( 60% - 1px );
    width: -webkit-calc( 60% - 1px );

    float: left;
    /*background-color: #000000;*/
    /*padding: 30px 0;*/

}
.blogfooter--right{
    width: 40%;
    float: right;
    height: 70px;
    /*background-color: #000000;*/
    /*padding: 30px 0;*/
}
.footer--copyright{
    font-family: "Microsoft YaHei";
    color: #ffffff;
    font-size: .8em;
    line-height: .8em;
    display: block;
    margin-top: 35px;
    font-weight: normal;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.2);*/
}
.footer--copyright:hover{
    /*opacity: 1.0;*/
}




/*-----------------------------*\
   $sidebar
\*-----------------------------*/
.blogsidebar{
    /*height: 300px;*/
    padding: 60px 0;
    background-color: #222222;
    /*border-left: 1px solid #f0f0f0;*/
    font-family: "Microsoft YaHei";

    /*-webkit-border-radius: 0 0 20px 20px;*/
    /*-moz-border-radius: 0 0 20px 20px;*/
    /*border-radius: 0 0 20px 20px;*/

    border-bottom: 10px solid rgba(0,0,0,0.5);

}
.sidebar_item{
    padding: 40px;
    /*background-color: #f9f9f9;*/
    /*border: 1px solid #f0f0f0;*/
}
.sidebar__title{
    text-align: center;
    padding: 30px 10px;
    color: #333333;
    background-color: #ffffff;
    font-size: 1.2em;
    /*border-bottom: 1px solid #f0f0f0;*/
}

.sidebar__ul{
    /*border: 1px solid #f0f0f0;*/
}
.sidebar__ul li{
    border-bottom: 1px dashed #f0f0f0;
    padding: 20px 10px;

    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -ms-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}
.sidebar__ul li:hover{
    padding: 20px 20px;
    /*background-color:#f0f0f0;*/
}
.sidebar__ul li:hover a{
    color: #333333;
}
.sidebar__ul li a{
    color:#333333;
    text-decoration: none;
    font-size: 1.0em;
}
.aboutarcher {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutarcher img{
    /*width: 256px;*/
    max-width: 256px;
    border-radius: 50%;
    /*width: 100%;*/
    opacity: 0.8;
    border: 5px solid #f0f0f0;
    width: 100%; /*自适应*/

    /*height: 256px;*/

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.aboutarcher img:hover{
    opacity: 1.0;
}

.archermeta{
    text-align: center;
}
.archermeta li{
    margin-bottom: 20px;
    border-bottom: 1px dashed #f0f0f0;
    padding-bottom: 20px;
}
.archermeta--des{
    letter-spacing: 2px;
    font-size: 1.0em;
    color:#333333;
    margin-left: 15px;
    line-height: 1.6em;
}
.learnmemore{
    text-align: center;
    padding: 10px;
    background-color: #bdc3c7;
    border-radius: 50px;
    opacity: 0.8;
    margin-top:30px;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.learnmemore:hover{
    opacity: 1.0;
}
.learnmemore a{
    color: #ffffff;
    font-size:1.2em;
    line-height: 1.4em;
    text-decoration: none;
    letter-spacing: 3px;
    cursor: help;

    font-family: "Microsoft YaHei";
}
.githubitems{
    text-align: center;
}
.githubitems li{
    font-size:1.2em;
    color:#333333;
    line-height: 1.6em;
    letter-spacing: 2px;
}
.githubitems li:first-child{
    margin-bottom: 30px;
}
.github--followers{
    font-size: 1.8em;
    color:#bdc3c7;
    line-height: 2.4em;
}
.githubdata{
    margin-top: 30px;
}
.button--radius{
    padding: 10px;
    border-radius: 50px;
    display: block;
    background-color: #cccccc;
    color:#ffffff;
    text-decoration: none;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 1.0em;
    line-height: 1.4em;

    -webkit-transition: background .8s;
    -moz-transition: background .8s;
    -ms-transition: background .8s;
    -o-transition: background .8s;
    transition: background .8s;
}
.followme:hover{
    background-color: #2ECC71;
}
.submitbug:hover{
    background-color: #E74C3C;
}
.forkmysite:hover{
    background-color: #3498DB
}


/*-----------------------------*\
   $for js
\*-----------------------------*/
.fixedposition{
    position: fixed;
    top:0;
}

.single--sidebar--fix{
    position: fixed;
    top: 0;
}
.single__sidebar{
    /*border-left: 1px solid #f0f0f0;*/

    /*-webkit-box-shadow: 0 5px 0 #e1e1e1 !important;*/
    /*-moz-box-shadow: 0 5px 0 #e1e1e1 !important;*/
    /*box-shadow: 0 5px 0 #e1e1e1 !important;*/
    
}





/*-----------------------------*\
   $loadingmore
\*-----------------------------*/
.loadingmore{
    padding: 20px;
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    /*margin-bottom: 50px;*/
    /*opacity: 0.8;*/
    cursor: pointer;

    /*-webkit-box-shadow: 0 5px 0 #e1e1e1;*/
    /*-moz-box-shadow: 0 5px 0 #e1e1e1;*/
    /*box-shadow: 0 5px 0 #e1e1e1;*/

    font-family: "Microsoft YaHei";
    letter-spacing: 3px;

    /*-webkit-transition: opacity .5s;*/
    /*-moz-transition: opacity .5s;*/
    /*-ms-transition: opacity .5s;*/
    /*-o-transition: opacity .5s;*/
    /*transition: opacity .5s;*/

    font-family: "Microsoft YaHei";

}
.loadingmore:hover{
    opacity: 1.0;
}
.loadingmorespan{
    font-size: 1.4em;
    line-height: 2.0em;
}





/*-----------------------------*\
   $footer
\*-----------------------------*/
.html5--logo img{

}





/*-----------------------------*\
   $highlight
\*-----------------------------*/
pre{
    overflow: auto;
    width: 100%;
}
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #e74c3c; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #e74c3c } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #e74c3c } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kn { color: #e67e22; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #bdc3c7 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #e74c3c } /* Name.Entity */
.highlight .ne { color: #e74c3c; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #8E44AD; font-weight: bold } /* Name.Function */
.highlight .nn { color: #cccccc } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #8E44AD } /* Literal.String.Backtick */
.highlight .sc { color: #8E44AD } /* Literal.String.Char */
.highlight .sd { color: #009999 } /* Literal.String.Doc */
.highlight .s2 { color: #8E44AD } /* Literal.String.Double */
.highlight .se { color: #8E44AD } /* Literal.String.Escape */
.highlight .sh { color: #8E44AD } /* Literal.String.Heredoc */
.highlight .si { color: #8E44AD } /* Literal.String.Interpol */
.highlight .sx { color: #8E44AD } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #8E44AD } /* Literal.String.Single */
.highlight .ss { color: #009926 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */






/*-----------------------------*\
   $animations
\*-----------------------------*/
@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); }
    20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); }
    40% { -webkit-transform: scale3d(.9, .9, .9); }
    60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); }
    80% { -webkit-transform: scale3d(.97, .97, .97); }
    100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% { transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; transform: scale3d(.3, .3, .3); }
    20% { transform: scale3d(1.1, 1.1, 1.1); }
    40% { transform: scale3d(.9, .9, .9); }
    60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
    80% { transform: scale3d(.97, .97, .97); }
    100% { opacity: 1; transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; -webkit-transform: translate3d(-3000px, 0, 0); }
    60% { opacity: 1; -webkit-transform: translate3d(25px, 0, 0); }
    75% { -webkit-transform: translate3d(-10px, 0, 0); }
    90% { -webkit-transform: translate3d(5px, 0, 0); }
    100% { -webkit-transform: none; }
}
@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; transform: translate3d(-3000px, 0, 0); }
    60% { opacity: 1; transform: translate3d(25px, 0, 0); }
    75% { transform: translate3d(-10px, 0, 0); }
    90% { transform: translate3d(5px, 0, 0); }
    100% { transform: none; }
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); }
    60% { opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); }
    75% { -webkit-transform: translate3d(10px, 0, 0); }
    90% { -webkit-transform: translate3d(-5px, 0, 0); }
    100% { -webkit-transform: none; }
}
@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; transform: translate3d(3000px, 0, 0); }
    60% { opacity: 1; transform: translate3d(-25px, 0, 0); }
    75% { transform: translate3d(10px, 0, 0); }
    90% { transform: translate3d(-5px, 0, 0); }
    100% { transform: none; }
}





/*-----------------------------*\
   $follow--widget
\*-----------------------------*/
.sidebar--follow--widget{
    width: 100%;
    border-bottom:1px solid #f0f0f0;
    overflow: auto;
    clear: both;
}
.sidebar--follow--ul{
    width: 100%;
}
.sidebar--follow--ul li{
    width: 50%;
    float: left;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #333333;
    padding: 20px 0;
    display: inline-block;

    font-family: "Microsoft YaHei";

    cursor: pointer;

    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;

    /*border-bottom: 1px solid #f0f0f0;*/
    border-top: 1px solid #f0f0f0;
}

.sidebar--follow--ul li:hover{
    color: #bdc3c7;
}
.sidebar--follow--ul li:nth-child(2n-1){
    border-right: 1px solid #f0f0f0;
}
.sidebar--follow--ul li > i{
    margin-right: 10px;
}
#sidebar--follow--info{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
    display: none;
    text-align: center;
}
#sidebar--follow--info img{
    max-width: 100%;
    /*width: 100%;*/
    display: block;
    margin: 0 auto;
}
.saoyisao{
    display: block;
    font-size: 1.2em;
    line-height: 1.8em;
    color: #333333;
    font-family: "Microsoft YaHei";
    letter-spacing: 2px;
}

.greenfont{
    color:#bdc3c7 !important;
    background-color: #ffffff;
}

.whitefont{
    color: #ffffff !important;
    background-color: #bdc3c7;
}

.currentfollow{
    color:#bdc3c7 !important;
}

.twinkling{
  -webkit-animation: twinkling .4s 3 linear;
}

@-webkit-keyframes twinkling{
    0%{
        background-color: #ffffff;
    }
    100%{
        background-color: #bdc3c7;
        color: #ffffff;
    }
}




/*-----------------------------*\
   $media--query
\*-----------------------------*/
.mobile--footer{
    display: none;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    font-size: 1.0em;
    line-height: 1.2em;

    background-color: #bdc3c7;

    font-family: "Microsoft YaHei";
    letter-spacing: 2px;
}
.mobile--footer i{
    margin-right: 8px;
}
.mobile--header{
    width: 100%;
    background-color: #2f2f2f;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;

    text-align: center;
    color: #ffffff;

    font-family: "Microsoft YaHei";
    font-size: 1.0em;
    line-height: 1.2em;

    letter-spacing: 1px;

    /*-webkit-box-shadow: 0 1px 10px #999999;*/
    /*-moz-box-shadow: 0 1px 10px #999999;*/
    /*box-shadow: 0 1px 10px #999999;*/
}

.mobile--header a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Microsoft YaHei";
}

.mobile--header i{
    margin-right: 8px;
}

@media screen and (max-width:1103px){

}
@media screen and (max-width:823px){

}
@media screen and (max-width:598px){

}
@media screen and (max-width:480px){
    body{
        background-color: #ffffff !important;
    }
    /*设计手机屏幕*/
    .bloglists{
        width: 100% !important;
        float: none !important;
    }
    .blogsidebar{
        float: none !important;
        width: 100% !important;
    }
    .bloglooparea{
        padding: 0 !important;
    }
    .blogbody__everyblog{
        padding: 15px !important;
    }
    #blog__header{
        display: none !important;
    }
    .blogfooter{
        display: none !important;
    }
    .mobile--footer{
        display: block !important;
    }
    .sidebar--follow--ul li{
        width: 100% !important;
        float: none !important;
    }
    .single__sidebar{
        display: none !important;
    }
    .bloglists{
        box-shadow: none !important;
    }
    .mobile--header{
        display: block !important;
    }
    #blogbody{
        padding-top: 50px !important;
    }
    #ribbon--github{
        display: none !important;
    }
    /*.blogbody__everyblog__excerpt{*/
        /*padding: 25px 0 0 0 !important;*/
    /*}*/
    .loadingmore{
        border-bottom: 1px solid #f0f0f0;
    }
    .sidebar--followme{
        display: none !important;
    }
    #mobile{
        display: none !important;
    }
    #weibo{
        display: none !important;
    }
    #weixin{
        display: none !important;
    }
    .blogcontent pre{
        overflow: auto !important;
    }
    .bloglooparea{
        width: 100% !important;
    }
    #blogfooter{
        padding: 0 !important;
    }
    .follow-panel{
        display: none !important;
        padding: 10px !important;
    }
    .blogsidebar{
        padding: 20px 0 !important;
        display: none !important;
    }
    .avatar--footer{
        width: 64px !important;
        height: 64px !important;
        display: none !important;
    }
    .loadingmorespan{
        font-size: 1.0em !important;
        line-height: 1.2em !important;
    }
}
@media screen and (max-width:240px){


}





/*-----------------------------*\
   $others
\*-----------------------------*/
#contentml li{
    margin-left: 35px;
    list-style: circle !important;
    color: #666666;
    border-bottom: none !important;
    padding: 0 0 20px 0 !important;
}
#contentml li:hover a{
    text-decoration: underline;
}
#contentml li:first-child{
    padding-top: 20px !important;
}
.sidebar__title__ml{
    display: block;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    color: #666666 !important;
    letter-spacing: 2px;
    font-weight: normal !important;
}
.sidebar--catcontent{
    padding: 20px 0 0 0 !important;
}





/*-----------------------------*\
   $animations
\*-----------------------------*/
@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}


.follow--pop{
    width: 200px;
    position: absolute;
    top: 100px;
    height: 45px;
    background: #2f2f2f;
    /*left: calc(50% - 100px);*/
    right: 50px;
    z-index: 999999;

    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;

    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;

    /*-webkit-transform: translate3d(0, -45px, 0);*/
    /*-moz-transform: translate3d(0, -45px, 0);*/
    /*-ms-transform: translate3d(0, -45px, 0);*/
    /*-o-transform: translate3d(0, -45px, 0);*/
    /*transform: translate3d(0, -45px, 0);*/

    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;

    line-height: 45px;
    vertical-align: middle;

    text-align: center;

    color: #ffffff;
    font-size: 1.6em;
    
}
.fa-color{
    display: inline-block;
    padding: 0 8px;

    -webkit-transition: color .8s;
    -moz-transition: color .8s;
    -ms-transition: color .8s;
    -o-transition: color .8s;
    transition: color .8s;

    text-shadow: 5px 5px 0 #222222;
}
.fa-color:hover{
    color: #16a085;
    cursor: pointer;
}
.fa-rocket{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile__nav--open{
    float: left;
    position: absolute;
    left: 15px;
}
.mobile--header--span{

}
.side_nav{
    width: 70%;
    height: 100%;
    position: fixed;
    background: #ffffff;
    left: 0;
    top: 0;
    z-index: 9999999;

    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);

    /*box-shadow*/
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);

    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
}

.side_nav_gravatar{
    width: 100%;
    padding: 20px 0;
    background: #2f2f2f;

    text-align: center;
    position: relative;
}
.side_nav_gravatar img{
    display: block;
    max-width: 50px;
    height: 50px;
    width: 100%;

    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;

    border: 3px solid #ffffff;

    position: absolute;
    top: 20px;
    left: 20px;
    float: left;
}
.side_nav_ul ul{
    width: 100%;
}
.side_nav_ul ul > li{
    list-style: none;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;

    text-align: center;
}
.side_nav_ul ul > li:hover{
    background: #E74C3C;
}
.side_nav_ul ul > li:hover a{
    color: #ffffff;
}
.side_nav_ul ul > li a{
    text-decoration: none;
    color: #2f2f2f;
    letter-spacing: 2px;
}