/*-----------------------------*\
    $CONTENTS
\*-----------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set reset defaults
 * FONT-FACE...........Import brand font files
 * blog__header........blog header
 * blog__nav...........blog nav
 * bloglooparea........blogs index loop
 * blogcontent.........blog content is very important
 * blogfooter..........blog footer
 * highlight...........code highlight
 * sidebar.............side bar
 * lodingmore..........loadingmore
 * animations..........animations
 */

/*-----------------------------*\
    $RESET
\*-----------------------------*/
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: Arial,"Microsoft YaHei",sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 1.0rem;
}
h1,span,ul,li,a,p,h2,table,th,tr,td,img,h3,i{
    margin: 0;
    padding: 0;
}
p,pre{
    word-wrap: break-word;
    word-break: break-all;
}
li{
    list-style: none;
}
.clearboth{
    clear: both;
}
.clearleft{
    clear: left;
}
.clearright{
    clear: right;
}





/*-----------------------------*\
    $FONT-FACE
\*-----------------------------*/
@font-face {
    font-family: Meccano;
    src: url("../fonts/Meccano.ttf");
}

@font-face {
    font-family: JustQuick;
    src: url("../fonts/JustQuick.ttf");
}





/*-----------------------------*\
    $blog__header
\*-----------------------------*/
.blogtitle{
    color: #ffffff;
}
.blog__bighead{
    background-color: #1abc9c;
    padding: 30px;
    /*border-bottom: 5px solid #ffffff;*/
}
    .blog__titlearea{
        text-align: center;
    }
    .title--blogtitle{
        /*rem*/font-size: 4.8rem;
        font-family: Meccano;

        /*animation*/
        -webkit-animation: bounceInRight .6s ease both;
        animation: bounceInRight .6s ease both;

    }
    .title--blogdescription{
        /*rem*/font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.2rem;
    }





/*-----------------------------*\
    $blog__nav
\*-----------------------------*/
.blog__nav{
    width: 100%;
    padding: 0 50px;
    margin-bottom: 100px;
}
.nav__current{
    background-color: #ffffff;
    border-bottom: 2px solid #1abc9c;
}
.blog__nav__ul{
    width: 100%;
    display: block;
}
    .blog__nav__item{
        float: left;
        width: 20%;
        text-align: center;
        padding: 20px;
        background-color: #ffffff;
        border-right: 1px dashed #f0f0f0;
    }
    .blog__nav__item:last-child{
        border-right: none;
    }
    .blog__nav__item:hover{
        border-bottom: 2px solid #1abc9c;
    }
    .blog__nav__item a{
        color:#333333;
        text-decoration: none;
        font-size: 1.2rem;
    }





/*-----------------------------*\
   $bloglooparea
\*-----------------------------*/
.bloglooparea{
    padding: 0 50px;
}
.blogbody__everyblog{
    background-color: #ffffff;
    padding: 40px;
    margin-bottom: 60px;
}
.bloglists{
    width: 60%;
    float: left;
    /*display: none;*/
}
.blogbody__everyblog__header{
    background-color: #1abc9c;
    padding: 20px;
    text-align: center;
}
.blogbody__everyblog__header a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 1.6em;
    letter-spacing: 2px;
}
.blogbody__everyblog__header:hover{
    background-color: #1abc9c;
}
.blogbody__everyblog__header:hover a{
    color:#ffffff;
    text-decoration: underline;
}
.blogbody__everyblog__meta{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
    color: #cccccc;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.blogbody__everyblog__excerpt{

}





/*-----------------------------*\
   $blogcontent
\*-----------------------------*/
.blogcontent{
    padding: 30px 0;
    color:#666666;
    font-size: .9rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
}
.blogcontent p{
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
}
.blogcontent a{
    padding: 2px;
    background-color: #1abc9c;
    color: #ffffff;
    text-decoration: none;
    border-left: 2px solid #cccccc;
}
.blogcontent a:hover{
    text-decoration: underline;
}
.blogcontent h1{
    color: #333333;
    padding: 10px 20px;
    font-size: 1.0rem;
    letter-spacing: 1px;
    text-align: center;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}
.blogcontent h2{
    color: #333333;
    padding: 10px 20px;
    font-size: 1.0rem;
    letter-spacing: 1px;
    text-align: center;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}
.blogcontent h3{
    color: #333333;
    padding: 10px 20px;
    font-size: 1.0rem;
    letter-spacing: 1px;
    text-align: center;
    background-color: #f0f0f0;
    margin-bottom: 20px;

}
.blogcontent ul,.blogcontent ol{
    padding: 0 50px;
    padding-bottom: 15px;
}
.blogcontent ul li{
    list-style: decimal;
}
.blogcontent ol li{
    list-style: circle;
}
.blogcontent table{
    border-collapse:collapse;
    margin-bottom: 20px;
    width: 100%; /*撑满容器*/
}
.blogcontent table td{
    border: 1px solid #f0f0f0;
    padding: 5px;
}
.blogcontent table tr{
    border: 1px solid #f0f0f0;
    padding: 5px;
}
.blogcontent table th{
    border: 1px solid #f0f0f0;
    padding: 5px;
    background-color: #f9f9f9;
}
.blogcontent p img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}
.blogcontent pre{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #2C3E50;
    color: #ffffff;
}
.blogtag,.blogcat{
    padding: 8px 12px;
    color: #ffffff;
    background-color: #1abc9c;
    letter-spacing: 2px;
    font-size: 1.0rem;
    line-height: 1.2rem;
}
.blogbody__everyblog__footer{
    background-color: #f9f9f9;
    border: 1px solid #f0f0f0;
    padding: 40px;
}
.footercopyright span{
    display: block;
    color: #333333;
    font-size: 1.0rem;
    line-height: 1.6rem;
}
.footercopyright{
    margin-bottom: 10px;
}
.blogperlink{
    overflow: auto;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: .8rem;
    color: #666666;
    display: block;
    margin-top: 10px;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #cccccc;
}
.blogbody__everyblog__tagcat{
    margin-top: 30px;
}





/*-----------------------------*\
   $blogfooter
\*-----------------------------*/
.blogfooter{
        padding: 200px 0;
        background-color: #1abc9c;
}





/*-----------------------------*\
   $sidebar
\*-----------------------------*/
.blogsidebar{
    /*padding: 200px 0;*/
    width: 38%;
    background-color: #ffffff;
    float: right;
    /*border-left: 1px dashed #f0f0f0;*/

}
.sidebar_item{
    padding: 40px;
    /*background-color: #f9f9f9;*/
    /*border: 1px solid #f0f0f0;*/
}
.sidebar__title{
    text-align: center;
    padding: 30px 10px;
    color: #333333;
    background-color: #ffffff;
    font-size: 1.2rem;
    border-bottom: 1px solid #f0f0f0;
}

.sidebar__ul{
    /*border: 1px solid #f0f0f0;*/
}
.sidebar__ul li{
    border-bottom: 1px dashed #f0f0f0;
    padding: 20px 10px;
}
.sidebar__ul li:hover{
    background-color: #ffffff;
    padding: 20px 20px;
}
.sidebar__ul li:hover a{
    color: #333333;
}
.sidebar__ul li a{
    color:#333333;
    text-decoration: none;
    font-size: 1.0rem;
}





/*-----------------------------*\
   $for js
\*-----------------------------*/
.fixedposition{
    position: fixed;
    top:0;
}

.single--sidebar--fix{

}
.single__sidebar{
    width: 40%;
    border-left: 1px dashed #f0f0f0;
}





/*-----------------------------*\
   $loadingmore
\*-----------------------------*/
.loadingmore{
    padding: 20px;
    background-color: #1abc9c;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    opacity: 0.8;
    cursor: pointer;
}
.loadingmore:hover{
    opacity: 1.0;
}
.loadingmorespan{
    font-size: 1.4rem;
    line-height: 2.0rem;
}




/*-----------------------------*\
   $highlight
\*-----------------------------*/
pre{
    overflow: auto;
    width: 100%;
}
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kn { color: #e67e22; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #27ae60 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #8E44AD; font-weight: bold } /* Name.Function */
.highlight .nn { color: #cccccc } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */






/*-----------------------------*\
   $animations
\*-----------------------------*/
@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); }
    20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); }
    40% { -webkit-transform: scale3d(.9, .9, .9); }
    60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); }
    80% { -webkit-transform: scale3d(.97, .97, .97); }
    100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% { transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; transform: scale3d(.3, .3, .3); }
    20% { transform: scale3d(1.1, 1.1, 1.1); }
    40% { transform: scale3d(.9, .9, .9); }
    60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
    80% { transform: scale3d(.97, .97, .97); }
    100% { opacity: 1; transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; -webkit-transform: translate3d(-3000px, 0, 0); }
    60% { opacity: 1; -webkit-transform: translate3d(25px, 0, 0); }
    75% { -webkit-transform: translate3d(-10px, 0, 0); }
    90% { -webkit-transform: translate3d(5px, 0, 0); }
    100% { -webkit-transform: none; }
}
@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; transform: translate3d(-3000px, 0, 0); }
    60% { opacity: 1; transform: translate3d(25px, 0, 0); }
    75% { transform: translate3d(-10px, 0, 0); }
    90% { transform: translate3d(5px, 0, 0); }
    100% { transform: none; }
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; -webkit-transform: translate3d(3000px, 0, 0); }
    60% { opacity: 1; -webkit-transform: translate3d(-25px, 0, 0); }
    75% { -webkit-transform: translate3d(10px, 0, 0); }
    90% { -webkit-transform: translate3d(-5px, 0, 0); }
    100% { -webkit-transform: none; }
}
@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
    0% { opacity: 0; transform: translate3d(3000px, 0, 0); }
    60% { opacity: 1; transform: translate3d(-25px, 0, 0); }
    75% { transform: translate3d(10px, 0, 0); }
    90% { transform: translate3d(-5px, 0, 0); }
    100% { transform: none; }
}