{% include header.html %}

<header id="blog__header">
    <div class="blog__bighead">
        <div class="blog__head__img">
            <span class="logo--name bounceInDown">ABOUT</span>
            <span class="logo--des">关于我和这里</span>
        </div>
    </div>

    <!-- blog nav -->
    <div class="blog__nav">
        <ul class="blog__nav__ul">
            <li class="blog__nav__item"><a href="{{ site.url }}/" class="navlink">HOME</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/tags" class="navlink">TAGS</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/archives" class="navlink">POSTS</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/works" class="navlink">WORKS</a></li>
            <li class="blog__nav__item current"><a href="{{ site.url }}/about" class="navlink">ABOUT</a></li>
        </ul>
    </div>
</header>

<section id="blogbody">
<div class="clearleft bloglooparea">
    <div class="bloglists">
    <div class="blogbody__everyblog">
      <div class="blogcontent">
        <h3>Hi, Welcome</h3>
        <p>
          <img src="{{ site.url }}/assets/images/me.jpg" alt="" />
        </p>
        <h3>简介</h3>
        <blockquote>
          <p>
            大家好，我是Colorful的博主Archer，大家习惯称呼我另外一个芳名-小A；
            前端工程师/持续学习者/Javascript&Python程序猿，目前就职于阿里巴巴；
            混迹blogbus/emlog/wordpress圈总共有若干年，曾受邀参加第二届拿福能亚太博主盛典；
            做过几个站，维护着几个开源项目，为开源项目贡献过几段代码......
            喜欢技术与艺术完美融合的WebDevelop，历经磨难后，天赋不高的我总算合格地混入了这个圈子；
            唯一帅气的时候就是认真研究技术的时候，其它时候都是屌丝。
          </p>
        </blockquote>
        <h3>这里发表什么</h3>
        <p>
          这里是我安静写点文字的地方，来到这里的您应该已经看到，这里的内容以原创的技术文章为主。
          讨论的内容有且不限以下范畴 -
          <ul>
            <li>前端开发</li>
            <li>Python</li>
            <li>Javascript/Node.js</li>
            <li>C++/Go/Haskell</li>
            <li>我觉得好玩的</li>
            <li>一些最佳实践</li>
            <li>......</li>
          </ul>
        </p>
        <h3>我的印象标签</h3>
        <ul>
          <li>90后</li>
          <li>已婚</li>
          <li>逼格控</li>
          <li>极度强迫症患者</li>
          <li>技术宅</li>
          <li>前端狗</li>
          <li>Pythoner/Noder</li>
          <li>......</li>
        </ul>
        <h3>我的技能值</h3>
        <table>
          <thead>
            <tr>
              <th style="text-align: left">技能</th>
              <th style="text-align: left">使用时间/月</th>
              <th style="text-align: left">掌握程度/分</th>
            </tr>
          </thead>
          <tbody>
            {% for skill in site.skills %}
            <tr>
              <td style="text-align: left">{{ skill.skill }}</td>
              <td style="text-align: left">{{ skill.dur }}</td>
              <td style="text-align: left">
                <span class="skill_score_outer" style="display: block;width: {{ skill.score }}%;">
                  <span class="skill_score" style="display: inline-block;width: 100%;height: 10px;background-color: {{ skill.color }};">
                    {{ skill.score }} / 100
                  </span>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- <h3>为什么叫Colorful？</h3>
        <blockquote>
          <p>
            <b>COLORFUL</b> - 寓意多姿多彩，平衡Design与Coding绝逼是门艺术。
          </p>
        </blockquote> -->
        <h3>勾搭我</h3>
        <p>
          你可以在Github, 开源中国，SegmentFault......等社区看到我的身影，具体可以Follow一下侧边栏。
        </p>
      </div>
    </div>

    {% include comment.html %}
    </div>
    {% include single_sidebar.html %}
</div>
</section>

{% include footer.html %}
