{% include header.html %}

<header id="blog__header">
    <div class="blog__bighead">
        <div class="blog__head__img">
            <span class="logo--name bounceInDown">ABOUT</span>
            <span class="logo--des">关于我和这里</span>
        </div>
    </div>

    <!-- blog nav -->
    <div class="blog__nav">
        <ul class="blog__nav__ul">
            <li class="blog__nav__item"><a href="{{ site.url }}/" class="navlink">HOME</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/tags" class="navlink">TAGS</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/archives" class="navlink">POSTS</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/works" class="navlink">WORKS</a></li>
            <li class="blog__nav__item current"><a href="{{ site.url }}/about" class="navlink">ABOUT</a></li>
        </ul>
    </div>
</header>

<section id="blogbody">
<div class="clearleft bloglooparea">
    <div class="bloglists">
    <div class="blogbody__everyblog">
      <div class="blogcontent">
        <h3>Hi, Welcome</h3>
        <p>
          <img src="{{ site.url }}/assets/images/me.jpeg" alt="" />
        </p>
        <h3>简介</h3>
        <blockquote>
          <p>
            大家好，我是 Colorful 的博主 Archer，小 A；
            前端工程师/持续学习者/Javascript 工程师/程序猿；
            一枚有趣的灵魂。
          </p>
        </blockquote>
        <h3>这里发表什么</h3>
        <p>
          这里是我安静写点文字的地方，来到这里的您应该已经看到，这里的内容以原创的技术文章为主。
          讨论的内容有且不限以下范畴 -
          <ul>
            <li>前端开发</li>
            <li>Python/Java/Rust</li>
            <li>Javascript/Node.js</li>
            <li>C++/C</li>
            <li>我觉得好玩的</li>
            <li>一些最佳实践</li>
            <li>生活</li>
            <li>......</li>
          </ul>
        </p>
        <h3>我的印象标签</h3>
        <ul>
          <li>90 后</li>
          <li>有趣</li>
          <li>折腾</li>
          <li>爱好：汽车、台球 🎱、电影、看书、摄影......</li>
          <li>强迫症</li>
          <li>技术宅</li>
          <li>......</li>
        </ul>
        <h3>我的技能值</h3>
        <table>
          <thead>
            <tr>
              <th style="text-align: left">技能</th>
              <th style="text-align: left">使用时间/月</th>
              <th style="text-align: left">掌握程度/分</th>
            </tr>
          </thead>
          <tbody>
            {% for skill in site.skills %}
            <tr>
              <td style="text-align: left">{{ skill.skill }}</td>
              <td style="text-align: left">{{ skill.dur }}</td>
              <td style="text-align: left">
                <span class="skill_score_outer" style="display: block;width: {{ skill.score }}%;">
                  <span class="skill_score" style="display: inline-block;width: 100%;height: 10px;background-color: {{ skill.color }};">
                    {{ skill.score }} / 100
                  </span>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3>勾搭我</h3>
        <p>
          你可以在 Github、SegmentFault......等社区看到我的身影，具体可以 Follow 一下侧边栏。
          如果需要深度沟通，也欢迎邮件 qddegtya@gmail.com 联系。
        </p>
      </div>
    </div>

    {% include comment.html %}
    </div>
    {% include single_sidebar.html %}
</div>
</section>

{% include footer.html %}
