{% include header.html %}

<header id="blog__header">
    <div class="blog__bighead">
        <div class="blog__head__img">
            <span class="logo--name bounceInDown">ABOUT</span>
            <span class="logo--des">关于我和这里</span>
        </div>
    </div>

    <!-- blog nav -->
    <div class="blog__nav">
        <ul class="blog__nav__ul">
            <li class="blog__nav__item"><a href="{{ site.url }}/" class="navlink">HOME</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/tags" class="navlink">TAGS</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/archives" class="navlink">POSTS</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/works" class="navlink">WORKS</a></li>
            <li class="blog__nav__item current"><a href="{{ site.url }}/about" class="navlink">ABOUT</a></li>
        </ul>
    </div>
</header>

<section id="blogbody">
<div class="clearleft bloglooparea">
    <div class="bloglists">
    <div class="blogbody__everyblog">
      <div class="blogcontent">
        <h3>Hi, Welcome</h3>
        <p>
          <img src="{{ site.url }}/assets/images/me.jpeg" alt="" />
        </p>
        <h3>你是？</h3>
        <blockquote>
          <p>
            大家好，我是 Colorful 的博主 Archer，小 A；
            全栈工程师/持续学习者/程序猿；
            自称数字艺术家。
          </p>
        </blockquote>
        <h3>这里是？</h3>
        <p>
          如今，知识创作已经完全去中心化了，但是我依然怀念 2009 年左右那个独立博客互相交换友情链接的年代。
          我希望这里依旧是我可以静下心来思考，然后记录下美好的地方。
          本博客基于 JAMStack 开发，源代码完全开放，并且它会在我的完美主义加持下持续给大家输出越来越好的阅读体验。PS: 侧边栏的 SHOW 区域将定期给大家发放彩蛋。

          来到这里的您应该已经看到，这里的内容以原创的、富有深度的技术文章为主。

          除此之外，博客内容还可能涉及以下命题 -
          <ul>
            <li>前端开发</li>
            <li>Python/Java/Rust</li>
            <li>Javascript/Node.js</li>
            <li>C++/C</li>
            <li>我觉得好玩的</li>
            <li>一些最佳实践</li>
            <li>很酷的生活</li>
            <li>......</li>
          </ul>
        </p>
        <h3>我的印象标签</h3>
        <ul>
          <li>90 后</li>
          <li>有趣</li>
          <li>折腾</li>
          <li>爱好：汽车、台球 🎱、电影、书、摄影......</li>
          <li>强迫症</li>
          <li>技术宅</li>
          <li>完美主义</li>
          <li>......</li>
        </ul>
        <h3>我的技能</h3>
        <table>
          <thead>
            <tr>
              <th style="text-align: left">技能</th>
              <th style="text-align: left">使用时间/月</th>
              <th style="text-align: left">掌握程度/分</th>
            </tr>
          </thead>
          <tbody>
            {% for skill in site.skills %}
            <tr>
              <td style="text-align: left">{{ skill.skill }}</td>
              <td style="text-align: left">{{ skill.dur }}</td>
              <td style="text-align: left">
                <span class="skill_score_outer" style="display: block;width: {{ skill.score }}%;">
                  <span class="skill_score" style="display: inline-block;width: 100%;height: 10px;background-color: {{ skill.color }};">
                    {{ skill.score }} / 100
                  </span>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3>勾搭我</h3>
        <p>
          你还可以在侧边栏找到我的一些其他活跃踪迹，欢迎联系。
        </p>
      </div>
    </div>

    {% include comment.html %}
    </div>
    {% include single_sidebar.html %}
</div>
</section>

{% include footer.html %}
