---
baseurl: http://xiaoa.name
---
{% include header.html %}
{% include index_nav.html %}
<section id="blogbody">
    <div class="clearleft bloglooparea">
        <div class="bloglists">
            <div class="blogbody__everyblog">
                <div class="blogbody__everyblog__header">
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </div>
                <div class="blogbody__everyblog__meta">
                    <span class="blogbody__everyblog__metainfo">{{ page.date | date:"%Y - %m - %d" }}</span>
                </div>
                <div class="blogcontent blogbody__everyblog__excerpt" id="singleblogcontent">
                    {{ content }}
                </div>
                <div class="blogbody__everyblog__footer">
                    <div class="footercopyright">
                        <span>转载请注明出处</span>
                        <span class="blogperlink">{{ page.baseurl }}{{ page.url }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% include single_sidebar.html %}
    </div>
</section>
{% include footer.html %}
