<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>I'm SY.</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/dist/sy.css?ver=0.0.1">
  </head>
  <body>
    <!-- container, name: sy_body -->
    <div id="sy_body">    
      <!-- avatar -->
      <div id="sy_header">
        <div id="sy_avatar"></div>
        <div id="sy_name">
          <h3 class="title">I'm SY.</h3>
        </div>
      </div>
      
      <!-- intro -->
      <div id="sy_intro">
  
        <!-- card -->
        <div class="card">
            <!-- background div -->
            <div class="background-div">
                <h1>Intro</h1>
              </div>
    
            <div class="wrapper">
            </div>
          </div>
  
        <!-- card -->
        <div class="card">
            <!-- background div -->
            <div class="background-div">
                <h1>Photograph</h1>
              </div>
    
            <div class="wrapper">
            </div>
          </div>
  
        <!-- card -->
        <div class="card">
            <!-- background div -->
            <div class="background-div">
                <h1>Work</h1>
              </div>
    
            <div class="wrapper">
            </div>
          </div>
  
        <!-- card -->
        <div class="card">
          <!-- background div -->
          <div class="background-div">
              <h1>Contact</h1>
            </div>
  
          <div class="wrapper">
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- <script src="./sy.js"></script> -->
  </html>