{% include header.html %}

<header id="blog__header">
    <div class="blog__bighead">
        <div class="blog__head__img">
            <span class="logo--name bounceInDown">404</span>
            <span class="logo--des">你要去哪儿？不妨在这里挑一篇文章看看</span>
        </div>
    </div>

    <!-- blog nav -->
    <div class="blog__nav">
        <ul class="blog__nav__ul">
            <li class="blog__nav__item"><a href="{{ site.url }}/" class="navlink">HOME</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/tags" class="navlink">TAGS</a></li>
            <li class="blog__nav__item current"><a href="{{ site.url }}/archives" class="navlink">POSTS</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/works" class="navlink">WORKS</a></li>
            <li class="blog__nav__item"><a href="{{ site.url }}/about" class="navlink">ABOUT</a></li>
        </ul>
    </div>
</header>

<section id="blogbody">
<div class="clearleft bloglooparea">
    <div class="bloglists">
    <div class="blogbody__everyblog">
      <h3 class='archive_title'>所有文章列表</h3>
      <ul class="archive_posts">
        {% for post in site.posts %}
          <li>
            <span class="post-date">{{ post.date | date: "%Y/%m/%d" }} - </span>
            <a class="post-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    </div>

    {% include single_sidebar.html %}
</div>
</section>

{% include footer.html %}
